@-webkit-keyframes blink {
  0% {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-box-shadow: 0 0 16px #1473e6;
    box-shadow: 0 0 16px #1473e6;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-box-shadow: 0 0 16px #1473e6;
    box-shadow: 0 0 16px #1473e6;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* add global hack */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  text-decoration: none;
}

.btn.btn-primary {
  background: #005faf;
  border-color: #005faf;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #1473e6;
  border-color: #1473e6;
}

.btn.btn-outline-primary {
  background: #fff;
  border-color: #005faf;
  color: #005faf;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus {
  background: #005faf;
  color: #fff;
}

.mobile-menu {
  display: none;
  position: fixed;
  bottom: 5;
  left: 0;
  right: 0;
  z-index: 115;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
}

.mobile-menu .menu-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mobile-menu .menu-item a {
  height: 60px;
  padding: 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.mobile-menu .menu-item a .icon {
  margin-bottom: 6px;
}

.mobile-menu .menu-item a .text {
  line-height: 1;
  font-size: 12px;
  white-space: nowrap;
}

.mobile-menu .menu-item a:hover {
  background: #eee;
}

.exhibition-landing {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}

#home-menu-blue.home-menu-transparent {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.918)),
      to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.904), rgba(255, 255, 255, 0));
  top: 0;
}

#home-menu-blue.home-menu-transparent img {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

#home-menu-blue.home-menu-transparent .home-menu-background-blue ul li a {
  color: #fff;
}

.home-menu-background,
.home-menu-background-blue {
  width: 100%;
  max-width: 1120px;
}

.exhibition-button-container {
  position: absolute;
  bottom: 21%;
  left: 50%;
  -webkit-transform: translateX(-100%) rotate(21deg);
  transform: translateX(-100%) rotate(21deg);
}

.exhibition-button-container a.button {
  -webkit-animation: blink 1.5s infinite ease;
  animation: blink 1.5s infinite ease;
  background: #fff;
  border-radius: 100px;
  padding: 0 36px;
  line-height: 32px;
  font-size: 24px;
  white-space: nowrap;
  font-weight: bold;
  color: #000;
  min-width: 21vmax;
  text-align: center;
  display: block;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.exhibition-button-container a.button:hover,
.exhibition-button-container a.button:focus {
  -webkit-transform: translateY(-4px) scale(1.05);
  transform: translateY(-4px) scale(1.05);
  -webkit-box-shadow: 6px 6px 17px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 17px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.exhibition-list-view-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 105;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.exhibition-list-view-container.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.list-view-container {
  background: rgba(0, 0, 0, 0.9);
  background: linear-gradient(to bottom, #06a5c4, #004869);
  height: 100%;
  overflow: auto;
  padding: 48px 0;
}

.list-view-container .btn-close-list-view {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-size: 48px;
  border: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.list-view-container .btn-close-list-view:hover,
.list-view-container .btn-close-list-view:focus {
  outline: none;
}

.list-view-box {
  max-width: 1600px;
  margin: 0 auto;
}

.lv-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32px 16px;
}

.lv-filter select {
  margin-right: 40px;
  height: 48px;
  padding: 0 24px;
  padding-right: 52px;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 12px;
  background-image: url(../../images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.lv-filter .button {
  line-height: 48px;
  background: #fff;
  border-radius: 32px;
  padding: 0 24px;
  font-size: 16px;
  color: #000;
}

.lv-section {
  margin-bottom: 20px;
  padding: 0 1rem;
}

.lv-section h3 {
  color: #fff;
  margin: 0 0 12px;
  font-size: 28px;
  font-weight: bold;
}

ul.list-developer-items {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem 2rem;
}

ul.list-developer-items li {
  display: block;
  padding: 1rem;
  max-width: 20%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
}

ul.list-developer-items li a {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 132px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

ul.list-developer-items li a img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

ul.list-developer-items li a:hover,
ul.list-developer-items li a:focus {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list-project-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1rem 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-project-developer .item {
  display: block;
  padding: 1rem;
  max-width: 20%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
}

@media only screen and (max-width: 1024px) {
  .list-project-developer .item {
    max-width: 25%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
  }
}

@media only screen and (max-width: 824px) {
  ul.list-developer-items li a {
    height: 72px;
  }

  .list-project-developer .item {
    max-width: 33.3333%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.3333%;
    flex: 1 1 33.3333%;
  }
}

.list-project-developer .project-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.list-project-developer .project-item .project-image img {
  width: 100%;
}

.list-project-developer .project-item .project-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.list-project-developer .project-item .project-description h4,
.list-project-developer .project-item .project-description h5,
.list-project-developer .project-item .project-description h6 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.list-project-developer .project-item .project-description h4 {
  font-weight: bold;
  font-size: 24px;
}

.list-project-developer .project-item .project-description h5 {
  margin-bottom: 0.5rem;
}

.list-project-developer .project-item .project-link {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: block;
}

.list-project-developer .project-item:hover,
.list-project-developer .project-item:focus {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list-project-developer .project-item:hover .project-description h4,
.list-project-developer .project-item:focus .project-description h4 {
  text-decoration: underline;
}


.btn-list-view {
  position: fixed;
  bottom: 100;
  left: 50%;
  min-width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 150;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #000;
  border-radius: 300px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  margin-bottom: -40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  
  -webkit-box-shadow: 0 0 17px #1473e6;
  box-shadow: 0 0 17px #1473e6;
  font-size: 18px;
  font-weight: bold;
}

.btn-list-view:hover,
.btn-list-view:focus {
  outline: none;
}


.btn-list-view .icon {
  margin-bottom: 0px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-list-view .icon img {
  width: 10px;
}


.btn-list-view.active .icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

@media only screen and (max-width: 768px) {
  body>div:last-of-type {
    padding-bottom: 60px;
  }

  #header .logo {
    text-align: center;
  }

  #header .main-menu {
    display: none;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .btn-list-view {
    bottom: 42px;
    font-size: 14px;
  }

  .list-view-container .btn-close-list-view {
    top: 0;
    right: 0;
  }

  .exhibition-landing {
    background-position: bottom right -600px;
  }

  .exhibition-button-container {
    right: 20px;
    left: auto;
    -webkit-transform: translateX(0) rotate(21deg);
    transform: translateX(0) rotate(21deg);
  }

  .exhibition-button-container a.button {
    font-size: 16px;
  }

  .lv-filter {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .lv-filter a.button {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 20px;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 2% 20px;
  }

  .lv-filter select {
    margin: 0 2%;
    max-width: 46%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 46%;
    flex: 1 1 46%;
    font-size: 14px;
  }

  .lv-section {
    margin-bottom: 20px;
  }

  .lv-section h3 {
    font-size: 16px;
  }

  ul.list-developer-items {
    margin: 0 -0.5rem;
  }

  ul.list-developer-items li {
    padding: 0.5rem;
    max-width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }

  ul.list-developer-items li a {
    padding: 0.5rem;
    height: 65px;
  }

  ul.list-developer-items li a img {
    max-height: 100%;
    width: auto;
  }

  .list-project-developer {
    margin: 0 -0.5rem;
  }

  .list-project-developer .item {
    max-width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 0.5rem;
  }

  .list-project-developer .project-item .project-description {
    padding: 0.5rem 1rem;
    font-size: 16px;
  }

  .list-project-developer .project-item .project-description h5 {
    font-size: 12px;
    margin: 0;
  }

  /* fix responsive from old view */
  .home-event-content {
    max-width: 1100px;
    width: 100%;
  }

  .home-developer-content {
    max-width: 1280px;
    width: 100%;
  }

  .home-event-top-right ul li {
    width: 100%;
    margin: 0 0 15px;
  }

  .action-2-content-container {
    max-width: 1000px;
    width: 100%;
  }

  .footer-top {
    max-width: 1024px;
    width: 100%;
  }

  .home-event-content-bottom ul li {
    width: 100%;
    margin: 0 0 15px;
  }
}

/* developer page */
.hero {
  padding: 200px 0 100px;
}

.hero.hero-full {
  padding: 35vh 0;
}

.hero.hero-blue-gradient {
  background: linear-gradient(-45deg, #60efff, #0061ff);
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.hero h1 strong {
  display: block;
  color: #000;
}

.hero h4 {
  font-size: 18px;
  color: #fff;
}

.hero .hero-content {
  padding-left: 120px;
  background: url(../../images/icon-map.png) no-repeat left center;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content .hero-slider {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 60%;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  overflow: hidden;
}

.hero-content .hero-slider #dev-slider-1 {
  margin-bottom: 20px;
}

.hero-content .hero-slider .slick-slide {
  margin: 0;
}

.hero-content .hero-slider .slider-item img {
  width: 100%;
}

.hero-content .promo-slider-container {
  max-width: 40%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
}

.hero-content .promo-slider-container .promo-slider-wrapper {
  overflow: hidden;
  margin-left: -100px;
  margin-top: -40px;
  padding: 12px;
}

.hero-content .promo-slider-item .developer-logo {
  padding: 16px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.hero-content .promo-slider-item .developer-logo:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  content: "";
  display: block;
}

.hero-content .promo-slider-item .developer-logo img {
  position: relative;
  z-index: 5;
}

.hero-content .promo-slider-item .promo-box {
  margin-bottom: 20px;
  background: #000;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
}

.hero-content .promo-slider-item .promo-box h5 {
  margin: 0 0 6px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-content .promo-slider-item .promo-box ol {
  margin: 0 0 40px;
  padding: 0;
  margin-left: 20px;
}

.hero-content .promo-slider-item .promo-box ol li {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}

.mini-slider-item {
  text-align: center;
}

.mini-slider-item .mini-slider-thumbnail {
  margin: 0 auto;
  width: 52px;
  height: 52px;
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
  border-radius: 300px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.mini-slider-item img {
  overflow: hidden;
  border-radius: 300px;
  margin: 0 auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.main-slider-item {
  position: relative;
}

.main-slider-item .slider-promo {
  position: absolute;
  top: -20px;
  right: -120px;
}

.main-slider-item .slider-banner .project-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.main-slider-item .slider-banner .project-item .project-image img {
  width: 100%;
}

.main-slider-item .slider-banner .project-item .project-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.main-slider-item .slider-banner .project-item .project-description h4,
.main-slider-item .slider-banner .project-item .project-description h5,
.main-slider-item .slider-banner .project-item .project-description h6 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.main-slider-item .slider-banner .project-item .project-description h4 {
  font-weight: bold;
  font-size: 24px;
}

.main-slider-item .slider-banner .project-item .project-description h5 {
  margin-bottom: 0.5rem;
}

.main-slider-item .slider-banner .project-item .project-link {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: block;
}

.mini-slider {
  padding: 0 30px;
}

#dev-slider-2 .slick-slide {
  padding: 12px;
}

#dev-slider-2 .slick-slide.slick-current .mini-slider-item .mini-slider-thumbnail {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  border: 1px solid #fff;
}

.main-content {
  padding: 50px 0 0;
}

.main-content h1 {
  margin: 0 0 5px 0;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.slick-slide {
  margin: 0;
}

.maincontent {
  padding: 120px 0 0;
}

.main-banner {
  margin-bottom: 20px;
}

.main-slider-container {
  position: relative;
}

.main-slider-container .main-slider-tools {
  background: rgba(53, 53, 53, 0.8);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: -120px;
}

.main-slider-container .main-slider-tools .btn-tool {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40px;
  flex: 1 1 40px;
  max-width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-slider-container .main-slider-tools .btn-tool img {
  max-width: 100%;
}

.main-slider-container .main-slider-nav .btn-nav {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 48px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  z-index: 30;
  font-size: 36px;
  outline: none;
}

.main-slider-container .main-slider-nav .btn-nav.btn-prev {
  left: 0;
}

.main-slider-container .main-slider-nav .btn-nav.btn-next {
  right: 0;
}

.promo-slider-container {
  position: relative;
}

.promo-slider-container .promo-slider-nav .btn-nav {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  line-height: 48px;
  background: none;
  border: none;
  appearance: none;
  color: #808080;
  z-index: 30;
  font-size: 24px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  outline: none;
  margin-top: -40px;
}

.promo-slider-container .promo-slider-nav .btn-nav.btn-prev {
  left: 1rem;
}

.promo-slider-container .promo-slider-nav .btn-nav.btn-next {
  right: 1rem;
}

.promo-slider-container .promo-slider-nav {
  opacity: 0;
  transition: all ease 0.3s;
}

.promo-slider-container:hover .promo-slider-nav {
  opacity: 1;
}

#main-slider {
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

#main-slider .banner-interactive-item {
  position: relative;
}

.project-detail {
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  height: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(-45deg, #60efff, #0061ff);
}

.project-detail .project-logo {
  margin-bottom: 20px;
}

.project-detail .project-promo h4,
.project-detail .project-promo h5,
.project-detail .project-promo h3 {
  color: #fff;
}

.project-detail .project-promo h4 {
  font-size: 20px;
  font-weight: bold;
}

.project-detail .project-promo h5 {
  font-weight: normal;
  font-size: 16px;
}

.project-detail .project-promo h3 {
  font-size: 64px;
  font-weight: bold;
  text-shadow: 0 5px #005faf;
}

.article .article-header {
  margin-bottom: 20px;
}

.article .article-header h1,
.article .article-header h2,
.article .article-header h3,
.article .article-header h4 {
  line-height: 1.5;
}

.article .article-header h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
}

.article .article-header h1 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 0;
}

.article .article-header h2 {
  font-size: 16px;
  margin: 0;
}

.article .article-header h3 {
  font-size: 16px;
  margin: 0;
}

.article .article-content {
  color: #707070;
}

.article-sidebar {
  min-height: 100%;
  background: #f1f1f1;
  padding: 40px 30px;
  text-align: center;
}

.article-sidebar.normal-height {
  min-height: auto;
}

.article-sidebar h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.article-sidebar .btn {
  border-radius: 100px;
  font-size: 16px;
  font-weight: normal;
}

.article-sidebar .btn .fa {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: middle;
}

.broker-item a {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.broker-item a:hover,
.broker-item a:focus {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.8;
}

.broker-item.broker-item-more a {
  background: linear-gradient(-45deg, #60efff, #0061ff);
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.main-content h1 {
  font-size: 24px;
  font-weight: bold;
}

.hero-banner {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
}

.hero-banner.hero-banner-blue-gradient {
  background: linear-gradient(45deg, #60efff, #0061ff);
}

.hero-banner h2 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.hero-banner h2 strong {
  display: block;
  color: #000;
}

.article-more {
  position: relative;
  padding: 20px 0 80px;
  margin: 0 0 40px;
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.article-more h4 {
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.article-more h5 {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-more.active {
  max-height: none;
}

.article-more .article-more-toggle-btn {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  padding: 40px 20px 0;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  right: 0;
  z-index: 5;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.3));
}

.article-more .article-more-toggle-btn .icon {
  font-size: 32px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: block;
}

.article-more .article-more-toggle-btn:hover,
.article-more .article-more-toggle-btn:focus {
  color: #1473e6;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.article-more .article-more-toggle-btn.active .icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modal-full .modal-body {
  padding: 0;
  position: relative;
}

.modal-full .modal-body button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 45;
}

.modal-slider-container {
  position: relative;
}

.modal-slider-container .modal-slider-item img {
  display: block;
  width: 100%;
}

.modal-slider-container .main-slider-nav .btn-nav {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 48px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  z-index: 30;
  font-size: 36px;
  outline: none;
}

.modal-slider-container .main-slider-nav .btn-nav.btn-slider-prev {
  left: 0;
}

.modal-slider-container .main-slider-nav .btn-nav.btn-slider-next {
  right: 0;
}

@media only screen and (max-width: 768px) {
  .main-slider-container .main-slider-tools {
    position: static;
    margin: 20px auto;
    left: auto;
    bottom: auto;
  }

  #main-slider {
    border-radius: 0;
  }

  .main-slider-container {
    margin: 0 -15px;
  }

  .main-slider-container .main-slider-nav .btn-nav {
    top: 25%;
  }

  .main-banner {
    margin-top: -40px;
  }

  .main-banner .project-detail {
    border-radius: 0;
    margin: 0 -15px;
  }
}

.modal .modal-content {
  position: relative;
}

.modal button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
}

#photo-sphere-viewer {
  width: 100%;
  max-width: 798px;
  height: 60vh;
}

/* new css for optimization */
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

#header {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 105;
  padding: 20px 0;
  height: 80px;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.47)),
      to(rgba(129, 196, 108, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.47), rgba(129, 196, 108, 0));
}

#header .logo img {
  max-height: 40px;
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

#header #mainmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#header #mainmenu ul li {
  display: block;
  position: relative;
  white-space: nowrap;
}

#header #mainmenu ul li:before {
  display: block;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(0, 102, 255);
  position: absolute;
  right: 0;
  bottom: 0;
}

#header #mainmenu ul li+li {
  margin-left: 40px;
}

@media only screen and (max-width: 960px) {
  #header #mainmenu ul li+li {
    margin-left: 20px;
  }
}

#header #mainmenu ul li a {
  color: fff;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

#header #mainmenu ul li:hover:before,
#header #mainmenu ul li:focus:before,
#header #mainmenu ul li.active:before {
  opacity: 1;
}

#header #mainmenu ul li.last:before {
  display: none;
  opacity: 0;
}

#header #mainmenu ul li.last .button {
  background: #ffffff;
  border: none;
  border-radius: 300px;
  padding: 0.375rem 1rem;
}

#header #mainmenu ul li.last .button:hover,
#header #mainmenu ul li.last .button:focus {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#header.active,
#header.always-active {
  background: rgb(0, 102, 255);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#header.active .logo img,
#header.always-active .logo img {
  -webkit-filter: none;
  filter: none;
}

#header.active #mainmenu ul li a,
#header.always-active #mainmenu ul li a {
  color: #005faf;
}

#header.active #mainmenu ul li:before,
#header.always-active #mainmenu ul li:before {
  background: #005faf;
}

#header.active #mainmenu ul li.last .button,
#header.always-active #mainmenu ul li.last .button {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  #header .logo {
    text-align: center;
  }

  #header #mainmenu {
    display: none;
  }

  #header.active {
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }
}

.sections {
  padding: 40px 0;
}

.sections h3 {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .sections h3 {
    font-size: 18px;
  }
}

.block-container {
  margin-bottom: 20px;
}

.block-item {
  margin-bottom: 30px;
}

.block-item img {
  width: 100%;
}

.carousel-wrapper {
  overflow: auto;
}

.carousel-wrapper .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: none;
  flex-wrap: none;
  overflow: visible;
}

.carousel-wrapper .carousel-container .block-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50%;
}

.carousel-wrapper .carousel-container .block-item+.block-item {
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .carousel-wrapper {
    margin: 0 -15px;
    padding: 0 15px;
    overflow: auto;
  }
}

#cta-kpr {
  background: #f1f1f1;
  padding: 5rem 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #cta-kpr {
    padding: 2rem 0;
  }
}

#cta-kpr h3 {
  font-size: 24px;
}

#cta-kpr h3 strong {
  display: block;
  color: #ff9821;
}

#cta-kpr p {
  font-size: 16px;
  color: #666;
}

#cta-kpr .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#cta-kpr .button-container .btn {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#cta-kpr .button-container .btn.btn-warning {
  background: #ff9821;
  border-color: #ff9821;
}

#cta-kpr .button-container .btn.btn-primary {
  background: #1473e6;
  border-color: #1473e6;
}

#cta-kpr .button-container .btn+.btn {
  margin-left: 20px;
}

#cta-kpr .button-container .btn:hover,
#cta-kpr .button-container .btn:focus {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#cta-contact {
  padding: 5rem 0;
  background: #1473e6;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #cta-contact {
    padding: 2rem 0;
  }
}

#cta-contact h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  #cta-contact h3 {
    margin-bottom: 30px;
  }
}

#cta-contact .bca-contact {
  margin-bottom: 40px;
}

#cta-contact .bca-contact h4 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  #cta-contact .bca-contact h4 br.hide-for-small {
    display: none;
  }
}

#cta-contact .bca-contact .btn {
  padding: 0.5rem 1rem;
  border-radius: 300px;
  min-width: 180px;
  background: #fff;
  border: none;
  color: #005faf;
}

#cta-contact .bca-contact .btn .fa {
  margin-right: 10px;
}

#cta-contact .bca-contact .btn:hover,
#cta-contact .bca-contact .btn:focus {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#cta-contact .bca-contact .modal .modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#cta-contact .bca-contact .modal .btn {
  border: none;
  background: #005faf;
  color: #fff;
}

#cta-contact .bca-contact .modal .form {
  text-align: left;
  padding: 20px 20px 0;
}

#cta-contact .bca-contact .modal .form .button-container {
  padding-top: 20px;
}

#footer {
  padding: 5rem 0 2rem;
  background: #005faf;
}

@media only screen and (max-width: 768px) {
  #footer {
    padding: 2rem 0;
  }
}

#footer h3 {
  margin-bottom: 20px;
}

#footer h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

#footer p {
  color: #fff;
  font-size: 14px;
}

#footer p abbr {
  width: 72px;
  display: inline-block;
}

#footer .footer-content {
  margin-bottom: 40px;
}

#footer ul,
#footer ol {
  padding: 0;
  margin: 0 0 20px;
}

#footer ul li,
#footer ol li {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-size: 14px;
  color: #fff;
}

#footer ul li .fa,
#footer ol li .fa {
  margin-right: 10px;
}

#footer ul li a,
#footer ol li a {
  color: #fff;
}

#footer ul li a:hover,
#footer ul li a:focus,
#footer ol li a:hover,
#footer ol li a:focus {
  text-decoration: underline;
}

#footer .footer-bottom-content ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#footer .footer-bottom-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

#footer .footer-bottom-content ul li+li {
  margin-left: 20px;
}

#footer .footer-bottom-content ul li .image {
  display: block;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  #footer .footer-bottom-content ul li {
    font-size: 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  #footer .footer-bottom-content ul li+li {
    margin-left: 0;
  }
}

.vendor-slider-container {
  padding: 3rem 0;
}

.vendor-slider-container .vendor-slider .slick-slide>div {
  height: 100%;
  max-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.vendor-slider-container .vendor-slider .slick-slide>div img {
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.promo-slider-container {
  padding: 3rem 0 1rem;
  background: #f1f1f1;
}

.promo-slider-container p {
  padding-top: 10px;
}

.promo-slider-container p a {
  color: #005faf;
}

.promo-slider-container p a:hover,
.promo-slider-container p a:focus {
  text-decoration: underline;
}

.promo-slider .promo-slider-item {
  padding: 40px;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@media only screen and (max-width: 768px) {
  .promo-slider .promo-slider-item {
    padding: 15px;
  }
}

.promo-slider .slick-slide.slick-current .promo-slider-item {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .promo-slider .slick-slide.slick-current .promo-slider-item {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 1px solid #005faf;
  border-radius: 300px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li:hover button {
  background: #005fafcc;
}

.slick-dots li.slick-active button {
  background: #005faf;
}

.banner-home-backgrond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: center;
  flex-direction: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 80vh;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .banner-home-backgrond {
    min-height: 100vh;
    min-height: calc(100vh - 60px);
  }
}

.banner-home-backgrond h1 {
  padding: 3rem 0;
  display: block;
  width: 100%;
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .banner-home-backgrond h1 {
    font-size: 2rem;
  }
}

.banner-home-backgrond h1:before {
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.banner-home-backgrond h1 strong {
  position: relative;
  z-index: 3;
}

#content {
  padding: 8rem 0 2rem;
}

#content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.promo-grid {
  position: relative;
  padding-bottom: 200px;
}

.promo-grid .promo-image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.promo-grid .promo-description {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #777;
  border-top: 0;
  border-top: none;
  padding: 20px 20px 60px;
  border-radius: 0 0 20px 20px;
  height: 180px;
  overflow: hidden;
  background: #fff;
}

.promo-grid .promo-description h4 {
  font-size: 18px;
}

.promo-grid .promo-description p,
.promo-grid .promo-description ul li,
.promo-grid .promo-description ol li {
  font-size: 14px;
}

.promo-grid .promo-description .promo-toggle {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 10px;
  line-height: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background: white;
}

.promo-grid .promo-description .promo-toggle span {
  display: block;
  line-height: 1;
}

.promo-grid .promo-description .promo-toggle .icon {
  line-height: 1;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: block;
  font-size: 24px;
}

.promo-grid.active {
  z-index: 5;
}

.promo-grid.active .promo-description {
  height: auto;
  z-index: 10;
}

.promo-grid.active .promo-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.promo-grid.active .promo-toggle .icon {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.promo-grid.active .promo-toggle .text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

h1 .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

h1 .icon img {
  max-height: 24px;
}

.modal-instruction {
  position: relative;
  margin: -1rem;
}

.modal-instruction .close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.rounded-slider .item img {
  border-radius: 20px;
  overflow: hidden;
  display: block;
}

.accordion {
  margin-bottom: 30px;
}

.list-view-container .btn-close-list-view {
  z-index: 20;
}

.banner-home-backgrond {
  min-height: 100vh;
}

.banner-home-backgrond h1 {
  -webkit-filter: none;
  filter: none;
}

.banner-home-backgrond h1 strong {
  z-index: 20;
}

.lv-filter select {
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2866, 66, 66%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 15px 10px;
  padding-right: 2rem;
}

.hero-content .promo-slider-container {
  background: none;
}

.promo-slider .promo-slider-item img {
  margin: auto;
  width: 100%;
}

#header #mainmenu ul li.last+li {
  margin-left: 1rem;
}

#header #mainmenu ul li.last+li:before {
  display: none;
}

#header #mainmenu ul li.last+li a {
  border: 1px solid #fff;
  border-radius: 300px;
  padding: 0.375rem 1rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
}

#header.active #mainmenu ul li.last+li,
#header.always-fixed #mainmenu ul li.last+li {
  margin-left: 1rem;
}

#header.active #mainmenu ul li.last+li a,
#header.always-fixed #mainmenu ul li.last+li a {
  border: 1px solid #005faf;
  border-radius: 300px;
  padding: 0.375rem 1rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-list-view {
  background: #0026ff;
  -webkit-box-shadow: 0 0 17px #ffffff;
  box-shadow: 0 0 17px #ffffff;
}

.banner-home-backgrond {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner-home-backgrond .logo-expo {
  margin-bottom: 30px;
}

.banner-home-backgrond .logo-expo img {
  max-height: 30vh;
}

.countdown h4 {
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}

.countdown .countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown .countdown-timer .timer-block {
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  text-align: center;
  width: 80px;
  padding: 10px 0;
  line-height: 1.2;
}

.countdown .countdown-timer .timer-block .number {
  font-size: 36px;
  color: #fff;
  font-weight: 900;
}

.countdown .countdown-timer .timer-block .text {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .countdown h4 {
    font-size: 1rem;
  }

  .countdown .countdown-timer .timer-block {
    width: 60px;
  }

  .countdown .countdown-timer .timer-block .number {
    font-size: 28px;
  }

  .countdown .countdown-timer .timer-block .text {
    font-size: 14px;
  }
}

.exhibition-container {
  background: #000;
}

#header .logo img {
  display: none;
  width: auto;
  height: 40px;
  -webkit-filter: none !important;
  filter: none !important;
}

#header .logo img.logo-white {
  display: block;
}

#header.active .logo img.logo-white,
#header.always-fixed .logo img.logo-white {
  display: none;
}

#header.active .logo img.logo-blue,
#header.always-fixed .logo img.logo-blue {
  display: block;
}

.banner-interactive-item {
  text-align: center;
  background: #fff;
}

.banner-interactive-item img {
  max-height: 500px;
  width: auto;
  margin: auto;
}

.modal-slider-item {
  text-align: center;
  background: #fff;
}

.modal-slider-item img {
  max-height: 500px;
  width: auto;
  margin: auto;
}

#cta-contact .bca-contact .modal .btn.btn-danger {
  background: #c30;
  color: #fff;
}

.list-project-developer .project-item .project-image img {
  height: 220px;
  object-fit: cover;
}

.list-project-developer .project-item .project-description h4,
.list-project-developer .project-item .project-description h5,
.list-project-developer .project-item .project-description h6 {
  font-weight: normal;
}

.list-project-developer .project-item .project-description h4 {
  font-size: 20px;
  font-weight: bold;
}

.hero .hero-content {
  display: block;
}

.hero-content .hero-slider {
  max-width: 100%;
  flex: 1 1 100%;
}

.hero-content .promo-slider-container {
  display: none;
}

.main-slider-item .slider-banner .project-item .project-image img {
  height: 360px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .hero .hero-content {
    padding: 0;
    background: none;
  }

  .list-project-developer .project-item .project-image img {
    height: 160px;
    object-fit: cover;
  }

  .list-project-developer .project-item .project-description h4,
  .list-project-developer .project-item .project-description h5,
  .list-project-developer .project-item .project-description h6 {
    font-size: 12px;
  }

  .list-project-developer .project-item .project-description h4 {
    font-size: 14px;
    font-weight: bold;
  }
}

.lv-filter input {
  max-width: 100%;
  min-width: 320px;
}

#buzz-button {
  padding-bottom: 0 !important;
}

.about-page {
  padding: 0;
}

.about-content {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.about-content h1 {
  margin: 0;
}

.about-content-text {
  padding: 0;
}

#header #mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  #header #mainmenu ul {
    display: none;
  }
}

#header #mainmenu .btn-logout {
  margin-left: 1rem;
  border: 1px solid #fff;
  border-radius: 300px;
  padding: 0.375rem 1rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

#header #mainmenu .btn-logout .fa {
  display: none;
}

#header #mainmenu .btn-logout .text {
  display: block;
}

@media only screen and (max-width: 768px) {
  #header #mainmenu .btn-logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    border: none;
    color: #fff;
  }

  #header #mainmenu .btn-logout .fa {
    display: inline-block;
  }

  #header #mainmenu .btn-logout .text {
    display: none;
  }
}

#header.active #mainmenu .btn-logout,
#header.always-fixed #mainmenu .btn-logout {
  border-color: #005faf;
  color: #005faf;
}

@media only screen and (max-width: 768px) {

  #header.active #mainmenu .btn-logout,
  #header.always-fixed #mainmenu .btn-logout {
    color: #005faf;
  }
}

.btn-live-chat-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .btn-live-chat-mobile {
    display: inline-block;
  }

  #btn-live {
    display: none;
  }

  .btn-list-view {
    font-size: 12px;
  }

  .promo-grid {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .promo-grid .promo-description {
    position: relative;
  }

  .promo-grid.active .promo-description {
    height: auto;
  }
}

.lv-filter input {
  border: none;
}

@media only screen and (max-width: 800px) {
  .lv-filter input {
    width: 100%;
    max-width: 96%;
    min-width: 0;
    margin: 10px 2% 0;
  }
}

.view-property {
  text-align: center;
}

.view-property.mobile-view {
  display: none;
}

.view-property h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.view-property .property-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.view-property .property-button-container .property-button {
  text-align: center;
}

.view-property .property-button-container .property-button+.property-button {
  margin-left: 10px;
}

.view-property .property-button-container .property-button img {
  max-height: 20px;
  margin-bottom: 10px;
}

.view-property .property-button-container .property-button .text {
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .view-property.mobile-view {
    display: block;
  }

  .view-property.desktop-view {
    display: none;
  }
}

.lv-header {
  position: relative;
}

.lv-header .view-property {
  margin-top: 40px;
  position: absolute;
  right: 1rem;
}

.lv-header .view-property h4 {
  margin-bottom: 10px;
}

.lv-header .view-property .property-button-container {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 768px) {
  .view-property.desktop-view {
    display: none;
  }

  .view-property.mobile-view {
    display: block;
  }

  .vendor-slider-container {
    padding: 2rem 0;
  }

  .vendor-slider-container .vendor-slider .slick-slide>div img {
    max-height: 40px;
  }

  .hero-banner.hero-banner-blue-gradient {
    margin: 0 -15px;
    padding: 0 30px;
    border-radius: 0;
  }

  .hero-banner.hero-banner-blue-gradient h2 {
    font-size: 24px;
  }

  .hero.hero-full {
    padding: 20vh 0 5vh;
  }

  .broker-item a {
    max-height: 200px;
  }
}