#splash {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 1);
  transition: all 1s ease-out;
  background-color: black;
  transition: opacity 1s ease-out;
}
.a-enter-ar-button:active, .a-enter-ar-button:hover, .a-enter-vr-button:active, .a-enter-vr-button:hover {
  background-color: #ef9604!important;
}
.a-enter-vr-button {
  background: url("data:image/svg+xml;utf8,<svg width=\'80\' height=\'80\' viewBox=\'0 0 80 80\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M5 27C5 24.2386 7.23858 22 10 22H70C72.7614 22 75 24.2386 75 27V52C75 54.7614 72.7614 57 70 57H60.125H49.76C49.0934 57 48.4176 56.8896 47.8607 56.5234C46.7009 55.7608 45.8463 54.6175 45.011 53.5C43.6784 51.7171 42.395 50 40 50C37.3993 50 35.8146 52.0247 34.2999 53.9597C33.6352 54.8089 32.984 55.6409 32.2663 56.2768C31.6519 56.8214 30.8207 57 29.9997 57H23.375H10C7.23858 57 5 54.7614 5 52V27ZM31 39.5C31 44.1944 27.1944 48 22.5 48C17.8056 48 14 44.1944 14 39.5C14 34.8056 17.8056 31 22.5 31C27.1944 31 31 34.8056 31 39.5ZM57.5 48C62.1944 48 66 44.1944 66 39.5C66 34.8056 62.1944 31 57.5 31C52.8056 31 49 34.8056 49 39.5C49 44.1944 52.8056 48 57.5 48Z\' fill=\'white\'/></svg>")!important;
}
.a-enter-ar-button, .a-enter-vr-button {
  background-size: cover!important;
  background-position: center!important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
}
.a-loader-title {
  display:none;
}
